<header class="header">
  <div class="container header__container">
    <a href="./#home" class="header__logo">Ignix-Fix<span class="dot">.</span></a>

    <nav class="header__nav">
      <ul class="header__menu">
        <li><a href="./#about" class="header__link">О платформе</a></li>
        <li><a href="./#courses" class="header__link">Курсы</a></li>
        <li><a href="./#advantages" class="header__link">Преимущества</a></li>
        <li><a href="./#courses" class="header__link">Методология</a></li>
        <li><a href="./#innovation" class="header__link">Инновации</a></li>
        <li><a href="./#blog" class="header__link">Блог</a></li>
      </ul>
    </nav>

    <div class="header__actions">
      <a href="./#contact" class="btn btn--primary">Связаться</a>
      <button class="burger" aria-label="Menu">
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</header>
